<ion-header>

  <ion-navbar>
    <ion-title>Inserir Sala</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="addRoom()" >
    <ion-list>
      <ion-item>
        <ion-label floating>Digite o nome da sala</ion-label>
        <ion-input type="text" [(ngModel)]="data.roomname" required="" name="nome-sala"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full round color="secondary" type="submit">Criar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
