<!--
  Generated template for the SiginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sigin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="enterNickName()" >
    <ion-list>
      <ion-item>
        <ion-label floating>Digite seu nome de usuário</ion-label>
        <ion-input type="text" [(ngModel)]="data.nickname" name="nickname" required=""></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button full round color="secondary" type="submit">Entrar</button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
